![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [3]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.7

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [5]:
# Criando uma lista
lista_compra= ["arroz, frango, tomate, leite"]

In [6]:
type(lista_compra)

list

In [7]:
# Imprimindo a lista
print(lista_compra)

['arroz, frango, tomate, leite']

In [8]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [9]:
len(lista_compra)

1

In [10]:
type(lista_2)

list

In [11]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [12]:
len(lista_2)

4

In [13]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [14]:
type(lista_3)

list

In [15]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [16]:
len(lista_3)

3

In [17]:
lista_3[2]

'Cientista de Dados'

In [18]:
lista_3[2][13::]

'Dados'

In [19]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [20]:
# Imprimindo as variáveis
print(item1)
print(item2)
print(item3)

23
100
Cientista de Dados

In [21]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [22]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [24]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [25]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [26]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [27]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [29]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [30]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[3]

In [31]:
# Deletando um item específico da lista
del lista_2[0]

In [32]:
# Imprimindo o item com a lista alterada
lista_2

['frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [34]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [35]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [36]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [37]:
listas[0][1]

2

In [38]:
a

[1, 2, 3]

In [39]:
b = a[0]

In [40]:
b

1

In [41]:
list1 = listas[1]

In [42]:
list1

[10, 15, 14]

In [43]:
valor_1_0 = list1[0]

In [44]:
valor_1_0

10

In [45]:
valor_1_2 = list1[2]

In [46]:
valor_1_2

14

In [47]:
list2 = listas[2]

In [48]:
list2

[10.1, 8.7, 2.3]

In [49]:
valor_2_0 = list2[0]

In [50]:
valor_2_0

10.1

#### Operações com Listas

In [52]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [53]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [54]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [55]:
a

1

In [56]:
b = listas[1][2]

In [57]:
b

14

In [58]:
c = listas[0][2] + 10

In [59]:
c

13

In [60]:
d = 10

In [61]:
d

10

In [62]:
e = d * listas[2][0]

In [63]:
e

101.0

#### Concatenando Listas

In [65]:
lista_s1 = [34, 32, 56]

In [66]:
lista_s1

[34, 32, 56]

In [67]:
lista_s2 = [21, 90, 51]

In [68]:
lista_s2

[21, 90, 51]

In [69]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [70]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [72]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [73]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [74]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [76]:
lista_s1.

SyntaxError: invalid syntax (2777343514.py, line 1)

![Listas](listas.jpg)

In [121]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [123]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [125]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [127]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [129]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [131]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [133]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [135]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [137]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [139]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [141]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [143]:
# Criando uma lista vazia
a = []

In [145]:
print(a)

[]

In [147]:
type(a)

list

In [149]:
a.append(10)

In [151]:
a

[10]

In [153]:
a.append(50)

In [ ]:
a

In [ ]:
old_list = [1,2,5,10]

In [159]:
new_list = []

In [ ]:
new_list

old_list[::-1]

In [ ]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

In [ ]:
new_list

In [ ]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

In [ ]:
cidades.index('Salvador')

Lembre-se: em Python o índice começa por 0!

In [ ]:
cidades.index('Manaus')

In [ ]:
cidades

In [ ]:
cidades.insert(2, 110)

In [ ]:
cidades

In [ ]:
# Remove um item da lista
cidades.remove(110)

In [ ]:
cidades

In [ ]:
# Reverte a lista
cidades.reverse()

In [ ]:
# Imprime a lista
cidades

In [ ]:
x = [3, 4, 2, 1]

In [ ]:
x

In [ ]:
# Ordena a lista
x.sort()

In [ ]:
x

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [ ]:
# Imprimindo a tupla
tupla1

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [ ]:
tupla1

In [ ]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
tupla1[0]

In [ ]:
# Verificando o comprimento da tupla
len(tupla1)

In [ ]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

In [ ]:
tupla1.index('Elefantes')

In [ ]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [ ]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
type(t2)

In [ ]:
type(lista_t2)

In [ ]:
lista_t2

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [ ]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes_dict

In [ ]:
type(estudantes_dict)

In [ ]:
estudantes_dict["Pedro"]

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict["Marcelo"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [ ]:
dic1 = {}

In [ ]:
dic1

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [ ]:
dic1[10] = 5

In [ ]:
dic1

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

In [ ]:
dict3['chave2']

In [ ]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [ ]:
dict3

#### Criando Dicionários Aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [177]:
lista1 = []
for i in range(5):
    x = int(input("Digite o valor"))
    lista1.append(x)

lista1.reverse
print(lista1)

Digite o valor 4
Digite o valor 6
Digite o valor 8
Digite o valor 10
Digite o valor 12

[4, 6, 8, 10, 12]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [169]:
# Criamos uma lista vazia para guardar os números
numeros = []

# Pedimos 5 números
for i in range(5):
    x = int(input("Digite um número: "))
    numeros.append(x)

# Dizemos que o primeiro é o maior (por enquanto)
maior = numeros[0]
onde = 0

# Procuramos um número maior na lista
for i in range(5):
    if numeros[i] > maior:
        maior = numeros[i]
        onde = i

# Mostramos o maior número e onde ele está
print("O maior número é:", maior)
print("Ele está na posição:", onde)

Digite um número:  30
Digite um número:  20
Digite um número:  66
Digite um número:  49
Digite um número:  90

O maior número é: 90
Ele está na posição: 4

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [ ]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

In [ ]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 12